<div class="option" [ngClass]="{ 'active': active }">
    <div class="d3-chart" #chart>
    </div>
    <div class="context" [ngClass]="{ 'small' : true, 
        'big': false, 
        'continuous' : false, 
        'invisible' : false }"></div>
    <div class="context" [ngClass]="{ 'small' : true, 
    'big': false, 
    'continuous' : false, 
    'invisible' : false }">
    </div>
    <div class="label_wrap">
      <!-- <span class="label" [style.width.px]="small ? '64' : '280'"  (click)="resize()">{{label}}</span> -->
    </div>
  </div>