<!-- <p>
  dashboard-tab-compare works!
  <input type="button" value='Position'\>
  <input type="button" value='Target-Variable'\>
</p> -->
<!-- <input type="button" \> -->

<button>Position</button>
<button>Target</button>

<!-- <div id="featureOptions"> 
  <feature-config-item class="featureOption" (onColorChange)="onColorChange($event)" (onConfigChange)="onFeatureConfigChange($event)"
    [configuration]="configuration" label="correlation" property="correlation"
    [object]="null" [active]="true" [events]="eventsSubject"></feature-config-item>
</div> -->