<!-- <p>
  dashboard-tab-compare works!
  <input type="button" value='Position'\>
  <input type="button" value='Target-Variable'\>
</p> -->
<!-- <input type="button" \> -->

<button>Position</button>
<button>Target</button><br>
<button (click)='onToggleMode()' >Compare <--> Single</button>
<button (click)='onToggleDrawA()' >DrawA</button>
<button (click)='onToggleGlyphType()' >GlyphType</button>

<input type="range" min="-1" max="1" step="0.001"
[(ngModel)]="diffMin" (input)="onFeatureConfigChange($event)"

/>

<property-config-item></property-config-item>

<!-- <div id="featureOptions"> 
  <feature-config-item class="featureOption" (onColorChange)="onColorChange($event)" (onConfigChange)="onFeatureConfigChange($event)"
    [configuration]="configuration" label="correlation" property="correlation"
    [object]="null" [active]="true" [events]="eventsSubject"></feature-config-item>
</div> -->

<!-- <ng5-slider [(value)]="diffMin" [(highValue)]='diffMax'
 [options]="diffOptions" (userChangeEnd)="onFeatureConfigChange($event)"></ng5-slider> -->
